.Nav {
    width:100%;
    display:flex;
}

button {
    background-color: #fff;
    border: 1px solid rgb(71, 71, 71);
    color:#000;
    padding:.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    font-weight:700;
    cursor:pointer;
    border-radius:1.5em;
    margin-right:1em;
    box-sizing:border-box;
}

.switch {
    background-color: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    border-radius:1.5em;
    margin-right:1em;
}

.switch button {
    background-color: rgb(71, 71, 71);
    color:#fff;
    margin-right:0;
    border:none;
}

button:focus {outline:none;}

button.active {
    background-color:#fff;
    color:rgb(71, 71, 71);
}

button.addNew {
    border: 1px solid #4299ef;
    background-color: #4299ef;
    color: #fff;
}

button.addNew:hover {
    border: 1px solid #2d80d2;
    background-color: #2d80d2;
}

button.saveButton {
    border: 1px solid #5bdc60;
    background-color: #5bdc60;
    color: #fff;
}

button.saveButton:hover {
    border: 1px solid #36c13c;
    background-color: #36c13c;
}

button.deleteButton {
    opacity:.5;
    border: 1px solid #e41542;
    background-color: #fff;
    color: #e41542;
}

button.deleteButton:hover {
    opacity:1;
    border: 1px solid #e41542;
    background-color: #e41542;
    color: #fff;
}