.TrailerWorkspace video{
    width:100%;
}

.TrailerWorkspace .thumbnailSection img {
    display: inline-block;
    width: 130px;
}

.TrailerWorkspace .thumbnailSection {
    background-color:rgba(144, 144, 144, .15);
    padding:0 1em;
    border-radius: .25em;
}

.TrailerWorkspace .thumbnailSection label {
    display:block;
    margin-bottom:.5em;
}

.TrailerWorkspace {
    margin-top:0;
}