.Workspace {
    width:67%;
}

.Workspace .save {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid rgba(0,0,0, .20);
    display:flex;
    flex-direction: row-reverse;
}

.Workspace h1 {
    margin-top: 0;
}

div {
    margin:1em 0;
    box-sizing:border-box;
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row h4 {
    width:100%;
}

.column {
    width:50%;
}

.column:nth-child(1){
    padding-right:1em;
    box-sizing:border-box;
}

.column:nth-child(2){
    padding-left:1em;
    box-sizing:border-box;
}

label {
    display: block;
    font-size:.75em;
    margin-bottom:1em;
    color:rgba(0,0,0,.75);
}

.radioSection label {
    display:inline-block;
    margin-right:1em;
}

select, input[type="text"] {
    width:100%;
}

input[type="radio"] {
    width:25px;
}

input {
    font-size: .95em;
    line-height: 1.5em;
    vertical-align: top;
    padding:.25em;
    box-sizing: border-box;
    font-size:.75em;
}

input:focus {
    outline:none;
    border:2px solid rgba(0,0,0,.5);
}