.List {
    width:calc(33% - 1em);
    margin-right:1em;
    height:75vh;
    overflow: scroll;
    padding:.5em;
    border:1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}

.List ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.List ul li {
    padding:.5em;
    box-sizing: border-box;
    border-bottom:1px solid rgba(0,0,0,.2);
    font-size:.5em;
}